{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  // Define your URLs here.
  var images_url = "{{=URL('api', 'get_user_images', user_signature=True)}}";
  var add_image = "{{=URL('api', 'add_image', user_signature=True)}}";
  var user_url = "{{=URL('api', 'get_users', user_signature=True)}}";
  var logged_in = "{{=URL('api', 'logged_in')}}";
  var set_price = "{{=URL('api', 'set_price')}}";
  var get_image = "{{=URL('api', 'get_image')}}";
</script>


{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

    <div class="container padded">

      <div class="image_space threequarters">
        <!-- Left part of the page -->
        <div v-if="self_page">
          <!-- Code to upload files, with control buttons -->
          <div id="uploader_div" style="display:none">
            Upload an image file: <input id="file_input" type="file" accept="image/jpeg">
            <input v-model="input_price" type="number">
            <button v-on:click="upload_file">Submit</button>
          </div>

          <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
          <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
        </div>

        <div v-if="!is_checkout" class="image_container">
          <!-- Put here the code to display the images -->

          <ul class="container">
            <!-- The following is an example -->
            <li v-for="image in user_images" class="card lifted padded quarter">
              <img v-bind:src="image.image_url" height="200px" width="250px" class="padded"/>
              {{if auth.user is None:}}
              <td>${image.price}</td>
              {{else:}}
              <p v-if="image.created_by != {{=auth.user.id}}">
                <td>${image.price}</td>
                <button v-if="!(image.id in cart_list)" v-on:click="add_to_cart(image._idx)"><i class="fa fa-shopping-cart"></i></button>
                <button v-if="image.id in cart_list"><i class="fa fa-check"></i><i class="fa fa-shopping-cart"></i></button>
              </p>
              <p v-if="image.created_by == {{=auth.user.id}}">
                <input v-model="image.price" type="number" step="0.01" v-on:blur="set_price(image._idx)"/>
                <button v-if="!(image.id in cart_list)" v-on:click="add_to_cart(image._idx)"><i class="fa fa-shopping-cart"></i></button>
                <button v-if="image.id in cart_list"><i class="fa fa-check"></i><i class="fa fa-shopping-cart"></i></button>
              </p>
              <!--<p v-if="image.created_by != {{=auth.user.id}}">
                <td>${image.price}</td>
              </p>
              <p v-if="image.created_by == {{=auth.user.id}}">
                <input v-model="image.price" type="number" step="0.01" v-on:blur="set_price(image._idx)"/>
              </p>
              <button v-on:click="add_to_cart(image._idx)"><i v-if="image.id in cart_list" class="fa fa-check"></i><i class="fa fa-shopping-cart"></i></button>-->
              {{pass}}
            </li> 
          </ul>
        </div>
        <div v-if="is_checkout" class="image_container">
          <button>Pay</button>
          <ul class="container">
            <li v-for="image in cart_images" class="card lifted padded quarter">
              <img v-bind:src="image.image_url" height="200px" width="250px" class="padded"/>
            </li>
          </ul>
          <p v-on="total_price">
            <td>Price: ${total}</td>
          </p>
          
        </div>
      </div>



      <div class="user_space quarter right">
        <!-- Right part of the page -->
        <button v-on:click="checkout">Checkout</button>
        <div v-if="!is_checkout">
          <table class="fill" id="user_selector">
            <tbody v-for="users in user_list" v-on:click="get_user_images(users.id)" >
              <tr class="center"> 
                <td >${users.first_name} ${users.last_name}</td>
              </tr>
            </tbody>
          </table>          
        </div>

  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
